@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400i,700&display=swap');
@font-face { font-family: monogram; src: url("./monogram_extended.ttf")}

body {
  box-sizing: border-box;
  font-family: monogram;
  color: black;
  background-color: rgb(189, 149, 88);
  margin: 0 20px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 5px;
}

p, li {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
}

li {
  list-style-type: square ;
  margin-left: 20px;
}

hr {
  background-color: black;
  height:  0.5px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

.intro {
  margin-top: 20px;
}

canvas {
  margin-top: 30px;
  margin-left: 210px;
  border: 1px solid #383434;
}

.footer {
  margin: 20px 0;
  text-align: right;
}

.footer p {
  font-family: monogram;
  font-size: 25px;
}

img {
  width: 40px;
}

.player-img {
  width: 90px;
}

.div-body {
  width: 800px;
  margin: 0 auto;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.center-arrows {
  margin: 35px 20px;
}

.center-catch-img {
  margin: 50px 10px;
}

.center-catch-img img {
  margin-left: 15px;
}

.center-avoid-img {
  margin: 40px 0;
}

.center-avoid-img img {
  margin-left: 10px;
}

.bonus {
  margin-left: 10px;
  line-height: 40px;
  text-align: justify;
}

.bonus h3 {
  margin-left: 15px;
}

.bonus .coffee {
  width: 30px;
  margin-left: 155px;
}

.bonus .cookie {
  width: 30px;
  margin-left: 122px;
}

.bonus .beer {
  margin-left: 8px;
}
